# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.log

# Companion local config
companion/config.toml

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# WoW
WTF/
Cache/

# EBS (Cloudflare Workers)
ebs/node_modules/
ebs/.wrangler/
ebs/dist/
twitch-ext/dist/


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example

# local HTTPS dev cert
twitch-ext/_devcert.pem
twitch-ext/_devkey.pem
